<h1>Flexbox vs. Grid CSS</h1>
<p>Grid is Container-Based, Flexbox is Content-Based</p>
<h2>Flex</h2>
<div class="row_flex">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
</div>

<h2>Grid</h2>
<div class="row_grid">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
</div>

<h1>Flexbox is One Dimensional, Grid is Two Dimensional</h1>
<h2>Flex with Icons</h2>
<p>one dimensional layout - All the elements are in a single row</p>
<ul class="social-icons">
    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    <li><a href="#"><i class="fab fa-github"></i></a></li>
    <li><a href="#"><i class="fas fa-envelope"></i></a></li>
    <li><a href="#"><i class="fas fa-rss"></i></a></li>
</ul>

<h2>Make use of CSS Grid</h2>
<p>We are creating two columns using the grid-template-columns property, and three rows using grid-template-rows
    property. The repeat() function creates 3 rows with auto height.</p>
<p>Then, inside the grid-items (header, main, aside, and footer) we define how much area those grid-items will cover
    using the grid-area property.</p>
<div class="container">
    <header>Header</header>
    <main>Main</main>
    <aside>Aside</aside>
    <footer>Footer</footer>
</div>

<h2>Tutorial https://www.youtube.com/watch?v=jV8B24rSN5o</h2>

<div class="wrapper">
    <div>
        Lorem ipsum dolor sit.
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam libero excepturi cupiditate quasi sit. Iure
        totam a magni, veritatis, voluptatem voluptates tempora praesentium et nisi eligendi. A saepe eaque aliquam,
        earum nihil quia? Nemo delectus possimus, explicabo repudiandae recusandae. Mollitia!
    </div>
    <div class="nested">
        <div>Lorem</div>
        <div>Lorem</div>
        <div>Lorem</div>
        <div>Lorem</div>
        <div>Lorem</div>
        <div>Lorem</div>
        <div>Lorem</div>
        <div>Lorem</div>
        <div>Lorem</div>
    </div>
    <div>
        Lorem ipsum dolor sit.
    </div>
    <div>
        Lorem ipsum dolor sit.
    </div>
    <div>
        Lorem ipsum dolor sit.
    </div>
    <div>
        Lorem ipsum dolor sit.
    </div>
</div>

<br>
<hr>
<br>
<div class="wrapper2">
    <div class="box box1">Box 1</div>
    <div class="box box2">Box 2</div>
    <div class="box box3">Box 3</div>
    <div class="box box4">Box 4</div>
</div>